<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:kfwebstandard="http://kfwebstandard.com">

    <h:head>
        <title>#{msgs.title}</title>
        <h:outputStylesheet library="css" name="styles.css" />
    </h:head>
    <h:body>
        <h:form>
            <h1>#{msgs.enterPayment}</h1>
            <h:panelGrid columns="2">
                #{msgs.amount}
                <h:inputText id="amount" value="#{payment.amount}">
                    <f:convertNumber minFractionDigits="2" />
                </h:inputText>

                #{msgs.creditCard}
                <h:inputText id="card" value="#{payment.card}"
                             required="true">
                    <!-- A custom tag invokes the validater -->
                    <kfwebstandard:validateCreditCard errorDetail="#{msgs.creditCardError}" />
                </h:inputText>

                #{msgs.expirationDate}
                <h:inputText id="date" value="#{payment.date}">
                    <f:convertDateTime pattern="MM/yyyy" />
                </h:inputText>
            </h:panelGrid>
            <h:messages styleClass="errorMessage" showSummary="true"
                        showDetail="false" />
            <br />
            <h:commandButton value="Process" action="result" />
        </h:form>
        <p>MasterCard<br/>5105105105105100<br/>Visa<br/>4111111111111111</p>

    </h:body>
</html>
