<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:kfwebstandard="http://kfwebstandard.com">

    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>#{msgs.paymentInformation}</h1>
            <h:panelGrid columns="2">
                #{msgs.amount}
                <h:outputText value="#{payment.amount}" />
                #{msgs.creditCard}
                <h:outputText value="#{payment.card}">
                    <!-- A custom tag invokes the converter -->
                    <kfwebstandard:convertCreditCard separator="-" />
                </h:outputText>
                #{msgs.expirationDate}
                <h:outputText value="#{payment.date}">
                    <!-- Built in date converter -->
                    <f:convertDateTime pattern="MM/yyyy" />
                </h:outputText>
            </h:panelGrid>
            <h:commandButton value="Back" action="index" />
        </h:form>
    </h:body>
</html>
